section{
    width: 100%;
    height: 100vh;
}
.div1{
    width: 100%;
    height: 40%;
    background-image: url('images/bg-desktop-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div2{
    width: 100%;
    height: 60%;
    background-color: black;
}
.todolist{
    width: 40%;
    margin: auto;
    position: relative;
    top: 70px;
}
input{
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #222;
    color:  white;
    padding: 8px 0;
}
.bloc{
    background-color: #333;
    color:  white;
    position: relative;
    top: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}
ul li{
    padding: 8px ;
    list-style: none;
    position: relative;
    cursor: pointer; 
   
}
ul li::before{
    content: " ";
    width: 20px;
    height: 20px;
    left: -20px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    border: 1px solid;
}
ul li.checked{
    text-decoration: line-through;
    color: gray;
   
}
ul li.checked::before{
    background: linear-gradient(rgba(81, 81, 185,0.8),rgba(142, 93, 192,0.8) );
}

span{
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 23px;
    font-weight: bold;
} 
#aligner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;  
}
.div1 i{
    position: relative;
    margin-left: 70%;
    top: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
#lune{
    display: none;
}
.blue:hover{
    color: blue;
    cursor: pointer;
}
@media (max-width: 1200px){
    .todolist{
        width: 90%;
    }
    input , ul{
        width: 100%;
    }

}